
.hour {
  display: flex;
  flex-direction: column;
  border: 2px solid #4c44d5;
  width: 85px;
  padding: 5px;
  border-radius: 5px;
}

.dateTime {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hourMainInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  flex-direction: column;
  align-items: center;
}


.hourCondition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourCondition i {
  font-size: 50px;
}

.hourTemp {
  /*font-size: 30px;*/
  font-size: 22px;
}

.hourOtherInfo {
  display: flex;
  flex-direction: column;
}

.hourOtherInfo span {
  margin-bottom: 5px;
}


@media screen and (max-width:350px) {
  .hour {
    width: 70px;
  }
  .dateTime {
    margin-bottom: 2px;
  }

  .hourMainInfo {
    flex-direction: column;
    align-items: center;
  }
  .hourTemp {
    font-size: 22px;
  }
}

@media screen and (max-width:720px) {
  .hourOtherInfo span {
    font-size: 13px;
  }
}