.currentWeather {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  margin: 20px auto 40px;
  /*margin-bottom: 40px;*/
  padding: 0 28px;
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top:0;
  margin-bottom: 20px;
}

.head {
  display: flex;
  justify-content: center;
}

.headIcon {
  display: flex;
  flex-direction: column;
}

.headIcon i {
  font-size: 120px;
}

.headCondition {
  font-size: 32px;
  text-align: center;
}
.infoWrapper {
  display: flex;
}

.headInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headTemp {
  font-size: 57px;
  font-weight: 500;
}

.otherInfo {
  display: flex;
  flex-direction: column;
  margin: 0 80px;
}

.otherInfo span {
  margin-bottom: 7px;
  font-size: 20px;
}

.otherInfo span:last-child {
  margin-bottom: 0;
}

.otherInfo span i {
  margin-right: 8px;
}

@media screen and (max-width: 576px) {
  .head {
    flex-direction: column;
    align-items: center;
  }
  .otherInfo {
    font-size: 25px;
    margin: 0 30px;
  }
  .otherInfo span {
    font-size: 17px;
  }
  .headTemp {
    font-size: 46px;
  }
  .headInfo span:nth-child(2){
    font-size: 12px;
  }
}
